<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Uzochukwueddie">
    <title>KickChat</title>
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/responsive-breakpoints.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <div class="landing-page">
            <img class="landing-page-child" alt="" src="/img/group-13878.svg" />

            <!-- <div class="landing-page-item"></div> -->
            <div class="row" >
                <div class="kickchat-parent">
                    <div id="hamburger-icon">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
                    <div class="mobile-menu">
                        <div class="home">
                            <a href="/terms-of-service">Terms of Service</a>
                        </div>
                        <div class="home">
                            <a href="/privacy-policy">Privacy Policy</a>
                        </div>
                        <div class="home">
                            <a href="/contact">Contact Us</a>
                        </div>
                    </div>
                    <div class="kickchat">
                        <img class="app_icon" alt="KickChat" src="/img/app_icon.png" />
                        KickChat
                    </div>
                    <div class="home-parent">
                        <div class="home">
                            <a href="/terms-of-service">Terms of Service</a>
                        </div>
                        <div class="home">
                            <a href="/privacy-policy">Privacy Policy</a>
                        </div>
                        <div class="home">
                            <a href="/contact">Contact Us</a>
                        </div>
                    </div>
                </div>

                <div class="join-communities-of-your-favor-parent col-12 col-sm-12 col-md-12 order-lg-first order-last col-lg-6 col-xl-6">
                    <div class="col-md-12 col-lg-12 col-xl-12 header-text-container">
                        <b class="join-communities-of-container">
                            <span class="join-communities-of-container1"><span>Join
                                </span><span class="communities">communities</span><span> of your favorite football
                                    teams.</span></span></b>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9 kickchat-is-a-container">
                        <span class="join-communities-of-container2">
                            <span class="app-name">KickChat</span>
                            <span>
                                is a mobile chat application that brings football fans of various teams 
                                to chat and connect. Fans can send and receive messages, join chat rooms of their favorite teams,
                                browse other users and also connect.</span></span>
                    </div>
                    <div class="row androidpng-parent">
                        <img id="apple" class="androidpng-icon col-7 col-sm-5 col-md-5 col-lg-5 col-xl-4 col-xxl-3" alt="" src="/img/applepng@2x.png" />
                        <img id="android" class="androidpng-icon col-7 col-sm-5 col-md-5 col-lg-5 col-xl-4 col-xxl-3" alt="" src="/img/androidpng@2x.png" />
                    </div>
                    <div class="frame-parent">
                        <div class="ellipse-parent">
                            <img class="frame-child" alt="" src="/img/ellipse-13@2x.png" /><img class="frame-child" alt=""
                                src="/img/ellipse-9@2x.png" /><img class="frame-child" alt=""
                                src="/img/ellipse-16@2x.png" /><img class="frame-child" alt=""
                                src="/img/ellipse-10@2x.png" /><img class="frame-child second-to-last-frame-child" alt=""
                                src="/img/ellipse-11@2x.png" /><img class="frame-child last-frame-child" alt=""
                                src="/img/ellipse-19@2x.png" />
                        </div>
                        <div class="ellipse-parent">
                            <img class="frame-child" alt="" src="/img/ellipse-14@2x.png" /><img class="frame-child" alt=""
                                src="/img/ellipse-18@2x.png" /><img class="frame-child" alt=""
                                src="/img/ellipse-12@2x.png" /><img class="frame-child" alt=""
                                src="/img/ellipse-17@2x.png" /><img class="frame-child second-to-last-frame-child" alt=""
                                src="/img/ellipse-15@2x.png" />
                                <img class="frame-child last-frame-child" alt=""
                                src="/img/ellipse-20@2x.png" />
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 landing-page-image">
                    <img class="landing-page-inner" alt="" src="/img/group-13879@2x.png" />
                </div>
            </div>
        </div>
    </div>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>